body {
  font-family:'Courier New', Courier, monospace;
  background-color: white;
  padding: 50px;
}

.plan-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content:  ;
  gap: 6px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  flex: 1 1 140px;
  max-width: 180px;
  margin: 12px;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.plan:hover {
  background-color: rgba(255, 166, 0, 0.278);
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgb(255, 166, 0.99);
}

.plan--highlighted {
  border: 2px dotted purple;
}

.plan__title {
  text-align: center;
  height: 30px;
  color: #333;
  font-size: 22px;
  margin-bottom: 10px;
}

.plan__price {
  font-size: 28px;
  color: #4337de;
  margin-bottom: 15px;
}

.plan__price span {
  font-size: 14px;
  color: #666;
}

.plan__features {
  height: 60px;
  list-style: none;
  padding: 0;
  margin-bottom: 14px;
}

.plan__feature {
  white-space: nowrap;
  color: rgb(8, 65, 75);
  margin-bottom: 6px;
  font-size: 16px;
}

.plan__feature span {
  font-size: 14px;
  color: #666;
  
}

.plan__button {
  width: 140px;
  background-color: #4337de;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.12s ease;
  border: none;
}

.plan__button:hover {
  background-color: #716ad2;
}